@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111214;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #facc15;
}

/* Ensure Leaflet container has standard height and fits perfectly */
.leaflet-container {
  background-color: #0c0d0e !important;
}

.leaflet-bar a {
  background-color: #1c1d20 !important;
  color: #ffffff !important;
  border-bottom: 1px solid #2d2e33 !important;
}

.leaflet-bar a:hover {
  background-color: #facc15 !important;
  color: #000000 !important;
}
